//*********** Our Mission Section ***************************

.mission {
  @include flex(space-around, right, column);
  background-color: $color-yellow;
  color: $color-primary;
  height: 60vh;

  .text-box {
    width: 95%;
    margin: 0 0 0 auto;
    h2 {
      font-size: $header2;
      color: $color-primary;
      text-decoration: underline;
      margin-bottom: 6rem;
    }
    p {
      font-size: $text;
      color: $color-primary;
      line-height: 4.5rem;
    }
  }
}
//************************************************************
//******* TEXT BANNERS *************************************
.banner {
  height: 35rem;
  width: 100%;
  margin: 0 0 0 auto;
  text-align: center;
  @include flex(space-around, center, column);

  h1 {
    font-size: $header1;
    color: $color-primary;
    text-decoration: underline;
  }
}

.banner-pink {
  width: 100%;
  background-color: $color-pink;
  color: $color-white;
  height: 25rem;
  @include flex(space-around, center, column);
  .box {
    width: 95%;
    h1 {
      text-align: center;
      font-size: $header1;
      color: $color-white;
    }
  }
}
//************************************************************
//******* The Proccess Section *******************************

.process {
  height: 65vh;
  width: 100%;
  background-color: $color-purple;
  color: $color-white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 40rem;
  .step {
    padding: 2rem;

    h2 {
      color: $color-white;
      font-size: $header2;
    }
    p {
      font-size: $text;
      max-width: 40rem;
      line-height: 4.5rem;
    }
  }
}
//*********************************************************
//******* Services Section *******************************
.services {
  width: 100%;
  height: 60rem;
  padding: 4rem 0 4rem 0;
  @include flex(space-around, center, column);

  h2 {
    font-size: $header1;
    color: $color-primary;
    text-decoration: underline;
    margin-bottom: 2rem;
  }
  ul {
    list-style: none;
    text-align: center;
    color: $color-primary;
    font-size: $text;
    font-weight: 600;
    li {
      padding: 2rem 0 2rem 0;
    }
  }
}

//************************************************************
//******* Team Section *******************************

.team {
  width: 100%;
  height: 50vh;
 
  .container{
    height: 100%;
  @include flex(space-around, center, column);
  }
  h1 {
    font-size: $header1;
    color: $color-primary;
    text-decoration: underline;
  }
  .members {
    @include flex(space-around, center, column);
    width: 90%;
    .container{
      height: 100%;
    @include flex(space-around, center, column);
    }
    .member1 {
      @include flex(space-between, center, row);
      width: 55vw;
      margin-bottom: 8rem;
      h3,
      p,
      ul {
        font-size: $text;
        color: $color-primary;
      }
      h3 {
        font-weight: 300;
      }
      p {
        font-weight: 700;
      }
      ul {
        list-style: none;
      }
    }
  }
}

//************************************************************
//************* Media Query ************************************

//SMALL DESKTOP/TABLET ******************************

@media (max-width: 1200px) {
  .process {
    height: 110vh;
    padding: 4rem 0 4rem 0;

    .step {
      padding: 0.5rem;
      text-align: center;
    }
  }
}
