//*********** Phone Banner section ***************
//************************************************

.phone {
  width: 100%;
  height: 10%;
  background-color: $color-primary;

  h2 {
    color: $color-white;
    font-size: $header1;
    font-weight: 500;
    text-align: center;
    padding-top: 2rem;
  }
}

//*********** CONTACT SECTION ***************
//************************************************
.contact-info {
  height: 80vh;
  width: 100%;
  background-color: $color-purple;
  color: $color-white;
  @include flex(space-around, center, column);
  flex-wrap: wrap;
  flex-basis: 50%;
  padding: 4rem 0 4rem 0;

  h2 {
    font-size: $header1;
    font-weight: 500;
  }
  p {
    font-size: $text;
    font-weight: 400;
    line-height: 5rem;
  }
  a {
    color: $color-pink;
    font-weight: 900;
  }
  .contact-box {
    @include flex(space-around, center, row);
    flex-wrap: wrap;
    flex-basis: 50%;
    width: 80%;
    .contact-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      width: 50rem;
    }
  }
  .info {
    width: 50rem;

    .info-card {
      padding: 2rem 0 2rem 0;
    }
  }
}
.phone {
  height: 10vh;
  width: 100%;
  text-align: center;
  background-color: $color-pink;
  a {
    font-size: $header1;
    font-weight: 500;
    color: $color-white;
    text-decoration: none;
  }
}

//************************************************************
//************* Media Query ************************************

//SMALL DESKTOP/TABLET ******************************

@media (max-width: 1200px) {
  .contact-info {
    height: 100vh;
  }

  .contact-text {
    max-height: 25%;
  }
}


