//Colors

$color-primary: #15115b;
$color-purple: #5620f3;
$color-blue: #1690E6;
$color-pink: #e93061;
$color-yellow: #f4b939;
$color-grey: #e8e7e9;
$color-white: #fff;
$color-black: #000;

//fonts

$text: 2.5rem;
$text-big: 3.5rem;
$header1: 6.5rem;
$header2: 5.5rem;
$header3: 4.5rem;
$header4: 3.5rem;

@font-face {
  font-family: "Neue-regular";
  src: url("/fonts/Neue-regular.ttf");
}
@font-face {
  font-family: "Neue-medium";
  src: url("/fonts/Neue-medium.ttf");
}
@font-face {
  font-family: "Neue-bold";

  src: url("/fonts/Neue-bold.ttf");
}

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

//Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Neue-bold", sans-serif;
}

//buttons

.btn {
  padding: 1.5rem 3rem;
  border-radius: 4rem;
  font-size: 2.6rem;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;

  &--pink {
    color: $color-white;
    background-color: $color-pink;
    &:hover {
      background-color: $color-primary;
      transition: ease-in-out 0.2s;
    }
  }
  &--pink-clear {
    color: $color-pink;
    border: 5px solid $color-pink;
    background-color: none;
    &:hover {
      background-color: $color-pink;
      color: $color-white;
      transition: ease-in-out 0.2s;
    }
  }

  &--blue {
    color: $color-blue ;
    border: 4px solid $color-blue;
    background-color: none;
    &:hover {
      color: $color-white;
      background-color: $color-blue;
      transition: ease-in-out 0.1s;
    }
  }
  &--yellow {
    color: $color-white;
    background-color: $color-yellow;
    &:hover {
      background-color: $color-primary;
      transition: ease-in-out 0.2s;
    }
  }

  &--white {
    background-color: white;
    color: $color-pink;
    &:hover {
      color: $color-white;
      background-color: $color-primary;
      transition: ease-in-out 0.2s;
    }
  }
}


//************************************************************
//************* Media Query ************************************
// @media screen and (max-width: 842px) {
//   $text-big: 1.6rem;
//   $text: 1.5rem;
//   $header1: 3.5rem;
//   $header2: 4.5rem;
//   $header3: 3.5rem;
//   $header4: 2.5rem;

// .work {
//   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
// }
// }




@media screen and (max-width: 880px){
  html {
    font-size: 40.5%;
  }


}
@media screen and (max-width: 569px){
  html {
    font-size: 30.5%;
  }


}