//Colors 

$color-primary: #15115B;
$color-purple: #5620F3;
$color-pink: #E93061;
$color-yellow: #F4B939;
$color-grey: #E8E7E9;
$color-white: #fff;
$color-black: #000;

//fonts

$text: 1.5rem;
$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;

@font-face {
    font-family: "Neue-regular";
    src: url("/fonts/Neue-regular.ttf");
  }
  @font-face {
    font-family: "Neue-medium";
    src: url("/fonts/Neue-medium.ttf");
  }
  @font-face {
    font-family: "Neue-bold";

    src: url("/fonts/Neue-bold.ttf");
  }

  @mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
  }

//Global Styles 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html { 
    font-size: 62.5%;
}

body {
font-family: "Neue-bold",sans-serif;
}

//buttons

.btn {
  padding: 1.5rem 6rem;
  border-radius: 4rem;
  font-size: 1.6rem;
  text-decoration: none;
  cursor: pointer;

  &--pink {
    color: $color-white;
    background-color: $color-pink;
    &:hover {
      background-color: $color-primary;
      transition: ease-in-out .2s;
    }
  }
}