//Navigation
.header-main {
  width: 95%;
  margin: 0 0 0 auto;
  
}

nav {
    @include flex(space-between, center, row);
    // height: 0vh;
  width: 95%;
.burger {
//   @include flex(space-between, center, row);
  padding-left: 1.2rem;
  background-color: $color-primary;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 100%;

  .burger-icon {
    height: 3rem;
    width: 3rem;
    background-color: $color-white;
    text-align: center;
  }
}
  }

.hero {
  min-height: 100vh;
  width: 90%;
  margin: auto;

  flex-wrap: wrap;

  @include flex(space-between, center, row);
  h1 {
    font-size: $header1;
    color: $color-primary;
    font-size: 8rem;
    padding-bottom: 2rem;
  }
  p {
    font-size: 2.6rem;
    color: $color-primary;
    padding-bottom: 8rem;
  }
  .hero-image {
    @include flex(center, center, row);
    height: 100vh;
    width: 100%;
    background-color: $color-grey;
   /* define a width to the header container */
    position: relative !important; /* see note */
    

    .header-img {
      width: 50rem;
      height: 50rem;
      border-radius: 100%;
      border: 1.5rem solid $color-pink;
        z-index: 100000;
    }
    .circle-1 {
      background-color: $color-primary;
      height: 10.5rem;
      width: 10.5rem;
      border-radius: 100%;
      position: absolute;
      top: 29%;
      right: 60%;
      z-index: 0;
    }

    .circle-2 {
      background-color: $color-yellow;
      height: 20.5rem;
      width: 20.5rem;
      border-radius: 100%;
      position: absolute;
      top: 60%;
      right: 20%;
      z-index: 0;
    }
  }
}

.hero-image,
.hero-text {
  flex: 1 1 40rem;
}
