//********* Navigation *********************************
.logo-box {
  width: 2rem;
  height: 4rem;
  position: absolute;
  top: 0.5%;
  left: 8%;
  a {
    text-decoration: none;
  }
  h2 {
    padding-top: 4rem;
    font-size: $text;
    color: $color-primary;
    animation: fade-in 2s;
  }
}

.burger {
  background-color: $color-primary;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 100%;
  position: fixed;
  top: 2%;
  left: 88%;
  z-index: 100000;

  .burger-icon {
    padding: 1rem 0 0 1.5rem;
    height: 4rem;
    width: 4rem;
    text-align: center;
    filter: invert(100%) sepia(97%) saturate(14%) hue-rotate(198deg)
      brightness(103%) contrast(103%);
  }
}
//*********************************************************
//********* Hero Section *********************************

.hero {
  display: flex;
  direction: row;
  height: 95vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    .header-main {
      width: 65%;
      animation: fade-in 2s;
    }
    h1 {
      font-size: $header1;
      color: $color-primary;
      padding-bottom: 4rem;
      font-weight: 900;
    }
    p {
      font-size: $text;
      color: $color-primary;
      padding-bottom: 7rem;
      font-weight: 300;
      line-height: 4rem;
    }
  }
  .hero-image {
    display: flex;
    align-items: center;
    height: 95vh;
    justify-content: space-around;
    background-color: $color-grey;
    .image-container {
      position: relative;
      animation: fade-in 2s;
    }

    .header-img {
      width: 50rem;
      height: 50rem;
      border-radius: 100%;
      border: 1.5rem solid $color-pink;

      z-index: 100;
      position: relative;
      video {
        border-radius: 50%;
        object-fit: cover;
        width: 50rem;
        height: 50rem;
        background-position: center;
      }
    }
    .header-vid {
      width: 50rem;
      height: 50rem;
      border-radius: 100%;

      z-index: 100;
      position: relative;
      video {
        border: 1.5rem solid $color-pink;
        border-radius: 50%;
        object-fit: cover;
        width: 50rem;
        height: 50rem;
        background-position: center;
      }
    }
    .circle-1 {
      background-color: $color-primary;
      height: 8rem;
      width: 8rem;
      border-radius: 100%;
      position: absolute;
      top: 0;
      right: 75%;
      z-index: 0;
    }
    .circle-2 {
      background-color: $color-yellow;
      height: 20rem;
      width: 20rem;
      border-radius: 100%;
      position: absolute;
      top: 80%;
      right: 0;
      z-index: 0;
    }
  }
}

.hero-image,
.hero-text {
  flex: 1 1 70rem;
}

//********************************************************
//************* Work Section *****************************

.work {
  height: 120vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(70rem, 2fr));

  .recent-work {
    @include flex(space-around, center, column);
    background-color: $color-primary;
    height: 30vh;
    padding: 4rem 0 4rem 0;
    .work-container {
      @include flex(space-around, center, column);
      height: 19vh;
    }
    h2 {
      font-size: 6.5rem;
      color: $color-white;
    }
  }
  .Nike-Run {
    height: 90vh;
 
  
    background-color: $color-yellow;
    .container{
      height: 100%;
    @include flex(space-around, center, column);
    }
    .display-box {
      position: relative;

      .box1 {
        width: 60rem;
        height: 60rem;
        video {
          position: relative;
          width: 60rem;
          height: 60rem;
          z-index: 100;
          object-fit: cover;
        }
      }
      .bg-box {
        background-color: $color-purple;
        width: 60rem;
        height: 60rem;
        position: absolute;
        left: 5%;
        top: 5%;
      }
    }
    h3 {
      font-size: $header2;
      color: $color-white;
      &:hover {
        color: $color-purple;
        transition: ease-in-out 0.2s;
        transform: scale(1.1);
      }
    }
    a {
      text-decoration: none;
    }
  }

  .Oc-group {
    height: 120vh;
    background-color: $color-purple;
    .container{
      height: 100%;
    @include flex(space-around, center, column);
    }
    .display-box {
      position: relative;


      .box1 {
        width: 60rem;
        height: 90rem;
        video {
          position: relative;
          width: 70rem;
          height: 100rem;
          z-index: 100;
        }
      }
      .bg-box {
        background-color: $color-primary;
        width: 58rem;
        height: 100rem;
        position: absolute;
        left: 16%;
        top: 3%;
      }
    }

    h3 {
      font-size: $header2;
      color: $color-white;
      text-align: center;
      &:hover {
        color: $color-primary;
        transition: ease-in-out 0.2s;
        transform: scale(1.1);
      }
    }
    a {
      text-decoration: none;
    }
  }
}

//************************************************************
//********* Contact CTA section *******************************
.discuss-project {
  padding: 4rem 0 4rem 0;
  width: 100%;
  height: 35vh;
  .container{
    height: 100%;
    @include flex(space-around, center, column);
  }
  text-align: center;
  h2 {
    font-size: $header1;
    color: $color-primary;
    padding-bottom: 4rem;
  }
  h4 {
    font-size: $header4;
    font-weight: 300;
    color: $color-primary;
  }
}
//************************************************************
//******* About CTA section ************************************
.about {
  @include flex(space-around, center, row);
  flex-wrap: wrap;
  .about-us {
    .container{
      height: 100%;
      @include flex(space-around, center, column);
    }
    background-color: $color-purple;
    color: $color-yellow;
  }
  .newsletter {
    .container{
      height: 100%;
      @include flex(space-around, center, column);
    }
    background-color: $color-pink;
    color: $color-white;
  }
  .about-us,
  .newsletter {
    @include flex(space-around, center, column);
    width: 100%;
    height: 30rem;
    padding: 4rem 0 4rem 0;
    flex: 1 1 40rem;

    flex-wrap: wrap;
    h2 {
      font-size: $header1;
    }
  }
}
//************************************************************
//******* footer section ************************************
footer {
  @include flex(space-around, center, column);
  height: 55vh;
  width: 100%;
  padding: 2rem 0 0 0;
  background-color: $color-primary;
  color: $color-white;
  .content-box {
    @include flex(space-around, center, column);
    height: 55vh;
  }
  h2 {
    font-size: $header1;
    text-align: center;
  }
  p {
    font-size: $text-big;
    font-weight: 700;
  }
  ul {
    @include flex(space-between, center, row);
    list-style: none;
    width: 35rem;
    img {
      filter: invert(19%) sepia(73%) saturate(3070%) hue-rotate(329deg)
        brightness(114%) contrast(84%);
      width: 4.5rem;
      height: 4.5rem;
    }
  }
  h4 {
    font-size: $text;
  }
  a {
    font-size: $text-big;
    text-decoration: none;
    color: $color-white;
  }
}
//************************************************************
//************* Media Query ************************************

//SMALL DESKTOP/TABLET ******************************
@media (max-width: 1399px) {
  .hero {
    height: 100vh;
    .hero-text {
      flex-direction: column;
      height: 60vh;
      .header-main {
        width: 90%;
      }
    }
    .hero-image {
      flex-direction: column;
      height: 40vh;

      .header-img {
        width: 35rem;
        height: 35rem;
      }
      .header-vid {
        width: 35rem;
        height: 35rem;
        video {
          width: 35rem;
          height: 35rem;
        }
      }
      .circle-1 {
        height: 4rem;
        width: 4rem;
      }
      .circle-2 {
        height: 8rem;
        width: 8rem;
      }
    }
  }
  .work {
    .recent-work {
      height: 20vh;
    }
    .Nike-Run {
      height: 40vh;
      .display-box {
        .box1 {
          height: 35rem;
          width: 35rem;
          video {
            height: 35rem;
            width: 35rem;
          }
        }
        img,
        .bg-box {
          height: 35rem;
          width: 35rem;
        }
      }
    }
    .Oc-group {
      height: 60vh;
      .display-box {
        .box1 {
          height: 55rem;
          width: 35rem;
          video {
            height: 55rem;
            width: 35rem;
          }
        }
        .bg-box {
          height: 55rem;
          width: 30rem;
        }
      }
    }
  }
}

// PHONE- SMALL*************************************************
@media (max-width: 456px) {
  .discuss-project {
    height: 45vh;
  }
  .work {
    grid-template-columns: repeat(auto-fit, minmax(45rem, 2fr));
    .recent-work {
      height: 30rem;
    }
    .Nike-Run {
      .display-box {
        .box1 {
          height: 25rem;
          width: 25rem;
          video {
            height: 25rem;
            width: 25rem;
          }
        }
        .bg-box {
          height: 25rem;
          width: 25rem;
        }
      }
    }
    .Oc-group {
      height: 55vh;
      .display-box {
        .box1 {
          height: 40rem;
          width: 25rem;
          video {
            height: 40rem;
            width: 25rem;
          }
        }
        img,
        .bg-box {
          height: 40rem;
          width: 21rem;
        }
      }
    }
  }
}

@media (max-height: 456px) {
  .hero {
    .hero-text {
      height: 40vh;
    }
    .hero-image {
      display: none;
    }
  }

  .work {
    display: flex;
    flex-direction: column-reverse;

    .recent-work {
      height: 40vh;
    }
    .Nike-Run,
    .Oc-group {
      height: 40vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .display-box {
        img,
        video,
        .box1,
        .bg-box {
          display: none;
        }
      }
    }
  }
}
//*********************************************************************

.box1 {
  width: 60rem;
  height: 90rem;
  video {
    position: relative;
    width: 70rem;
    height: 100rem;
    z-index: 100;
  }
}
