//Colors 

$primary: #15115B;
$color-purple: #5620F3;
$color-pink: #E93061;
$color-yellow: #F4B939;
$color-grey: #E8E7E9;
$color-white: #fff;
$color-black: #000;

//fonts

$text: 2.5rem;
$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;