.projects {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .project {

    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .info-box {
      @include flex(space-around, center, column);
      margin: 0rem;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: $color-purple;
      text-decoration: none;
      text-align: center;
      h2 {
          color: $color-white;
          font-size: 6.5rem;
          padding: 0rem;
      }
      img {
        text-decoration: none;
        filter: invert(19%) sepia(73%) saturate(3070%) hue-rotate(329deg)
        brightness(114%) contrast(84%);
        width: 12rem;
        height: 12rem;
      }
    }
    &--1 {
      background-image: url("../img/gallery-10.png");
    }
    &--2 {
      background-image: url("../img/gallerybg-15.jpg");
    }
    &--3 {
      background-image: url("../img/gallery-5.jpg");
    }
    &--4 {
      background-image: url("../img/gallery-4.jpg");
    }
    &:hover {
      .info-box {
        transition: ease-in-out 0.4s;
        opacity: 1;
      }
    }
  }
}




  @media screen and (max-width: 880px){
  
    .projects{

      .project {
        // flex-basis: 50%;
        // @include flex(space-around, center, row);
        height: 25%;
        width: 100%;
      } 
    }
}


