@font-face {
  font-family: "Neue-regular";
  src: url("/fonts/Neue-regular.ttf");
}

@font-face {
  font-family: "Neue-medium";
  src: url("/fonts/Neue-medium.ttf");
}

@font-face {
  font-family: "Neue-bold";
  src: url("/fonts/Neue-bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Neue-bold",sans-serif;
}

.btn {
  padding: 1.5rem 8rem;
  border-radius: 4rem;
  font-size: 2.6rem;
  text-decoration: none;
  cursor: pointer;
}

.btn--pink {
  color: #fff;
  background-color: #E93061;
}

.btn--pink:hover {
  background-color: #15115B;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

nav {
  width: 95%;
  margin: 0 0 0 auto;
}

nav h2 {
  padding-top: 4rem;
  font-size: 2.5rem;
  color: #15115B;
}

.burger {
  background-color: #15115B;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 100%;
  position: fixed;
  top: 2%;
  left: 88%;
  z-index: 100000;
}

.burger .burger-icon {
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  text-align: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.hero .hero-text .header-main {
  width: 95%;
  margin: 0 0 50rem auto;
}

.hero .hero-text h1 {
  font-size: 2.5rem;
  color: #15115B;
  font-size: 8rem;
  padding-bottom: 2rem;
}

.hero .hero-text p {
  font-size: 2.6rem;
  color: #15115B;
  padding-bottom: 8rem;
}

.hero .hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: #E8E7E9;
  /* define a width to the header container */
  position: relative !important;
  /* see note */
  z-index: 10000;
}

.hero .hero-image .header-img {
  width: 50rem;
  height: 50rem;
  border-radius: 100%;
  border: 1.5rem solid #E93061;
  z-index: 100000;
}

.hero .hero-image .circle-1 {
  background-color: #15115B;
  height: 10.5rem;
  width: 10.5rem;
  border-radius: 100%;
  position: absolute;
  top: 29%;
  right: 60%;
  z-index: 0;
}

.hero .hero-image .circle-2 {
  background-color: #F4B939;
  height: 20.5rem;
  width: 20.5rem;
  border-radius: 100%;
  position: absolute;
  top: 60%;
  right: 20%;
  z-index: 0;
}

.hero-image,
.hero-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}
/*# sourceMappingURL=styles.css.map */