@font-face {
  font-family: "Neue-regular";
  src: url("/fonts/Neue-regular.ttf");
}

@font-face {
  font-family: "Neue-medium";
  src: url("/fonts/Neue-medium.ttf");
}

@font-face {
  font-family: "Neue-bold";
  src: url("/fonts/Neue-bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Neue-bold",sans-serif;
}

.btn {
  padding: 1.5rem 6rem;
  border-radius: 4rem;
  font-size: 1.6rem;
  text-decoration: none;
  cursor: pointer;
}

.btn--pink {
  color: #fff;
  background-color: #E93061;
}

.btn--pink:hover {
  background-color: #15115B;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

.header-main {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 95%;
}

nav .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 1.2rem;
  background-color: #15115B;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 100%;
}

nav .burger img {
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  text-align: center;
}

.hero {
  min-height: 90vh;
  width: 100%;
  margin: auto;
  padding-left: 10rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero h1 {
  font-size: 2.5rem;
  color: #15115B;
  font-size: 8rem;
  padding-bottom: 2rem;
}

.hero p {
  font-size: 2.6rem;
  color: #15115B;
  padding-bottom: 8rem;
}

.hero .hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 90vh;
  background-color: #E8E7E9;
}

.hero .hero-image img {
  width: 50rem;
  height: 50rem;
  border-radius: 100%;
  border: 1.5rem solid #E93061;
}

.hero-image,
.hero-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}
/*# sourceMappingURL=styles.css.map */